In [1]:
#Get the Pacers team_id
from nba_api.stats.static import teams

nba_teams = teams.get_teams()

# Select the dictionary for the Pacers, which contains their team ID
pacers = [team for team in nba_teams if team['abbreviation'] == 'IND'][0]
pacers_id = pacers['id']
print(f'pacers_id: {pacers_id}')

pacers_id: 1610612754

In [2]:
# Query for the last regular season game where the Pacers were playing
from nba_api.stats.endpoints import leaguegamefinder
from nba_api.stats.library.parameters import Season
from nba_api.stats.library.parameters import SeasonType

gamefinder = leaguegamefinder.LeagueGameFinder(team_id_nullable=pacers_id,
                            season_nullable=Season.default,
                            season_type_nullable=SeasonType.regular)  

games_dict = gamefinder.get_normalized_dict()
games = games_dict['LeagueGameFinderResults']
game = games[0]
game_id = game['GAME_ID']
game_matchup = game['MATCHUP']

print(f'Searching through {len(games)} game(s) for the game_id of {game_id} where {game_matchup}')

Searching through 61 game(s) for the game_id of 0021800826 where IND vs. CLE

In [12]:
# Query for the play by play of that most recent regular season game
from nba_api.stats.endpoints import playbyplay
df = playbyplay.PlayByPlay(game_id).get_data_frames()[0]
df.head() #just looking at the head of the data

,GAME_ID,EVENTNUM,EVENTMSGTYPE,EVENTMSGACTIONTYPE,PERIOD,WCTIMESTRING,PCTIMESTRING,HOMEDESCRIPTION,NEUTRALDESCRIPTION,VISITORDESCRIPTION,SCORE,SCOREMARGIN
0,0021800826,2,12,0,1,7:11 PM,12:00,None,None,None,None,None
1,0021800826,4,10,0,1,7:11 PM,12:00,Jump Ball Turner vs. Nance Jr.: Tip to Young,None,None,None,None
2,0021800826,8,6,2,1,7:11 PM,11:41,None,None,Nance Jr. S.FOUL (P1.T1) (J.Van Duyne),None,None
3,0021800826,10,3,11,1,7:11 PM,11:41,Bogdanovic Free Throw 1 of 2 (1 PTS),None,None,0 - 1,1
4,0021800826,11,3,12,1,7:12 PM,11:41,Bogdanovic Free Throw 2 of 2 (2 PTS),None,None,0 - 2,2

In [5]:
#Since the datset is fairly large you'll see plenty of elipses(...). 
#If that's the case, you can set the following options to expand the data 
#You can adjust these as you'd like
import pandas
pandas.set_option('display.max_colwidth',250)
pandas.set_option('display.max_rows',250)

In [6]:
#List unique values in the df['EVENTMSGTYPE'] colum
print(f'EVENTMSGTYPE: {sorted(df.EVENTMSGTYPE.unique())}')

EVENTMSGTYPE: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 12, 13]

In [7]:
#For quick refernce, here's an Enum for `EVENTMSGTYPE`
#This list may be incomplete as a thourogh play by play scan is necessary

from enum import Enum

class EventMsgType(Enum):
    FIELD_GOAL_MADE = 1
    FIELD_GOAL_MISSED = 2
    FREE_THROWfree_throw_attempt = 3
    REBOUND = 4
    TURNOVER = 5
    FOUL = 6
    VIOLATION = 7
    SUBSTITUTION = 8
    TIMEOUT = 9
    JUMP_BALL = 10
    EJECTION = 11
    PERIOD_BEGIN = 12
    PERIOD_END = 13

In [8]:
#pull the data for a specfic EVENTMSGTYPE
df.loc[df['EVENTMSGTYPE'] == 2].head() #hint: use the EVENTMSGTYPE values above to see different data

,GAME_ID,EVENTNUM,EVENTMSGTYPE,EVENTMSGACTIONTYPE,PERIOD,WCTIMESTRING,PCTIMESTRING,HOMEDESCRIPTION,NEUTRALDESCRIPTION,VISITORDESCRIPTION,SCORE,SCOREMARGIN
5,0021800826,12,2,1,1,7:12 PM,11:21,None,None,MISS Nance Jr. 17' Jump Shot,None,None
7,0021800826,14,2,1,1,7:12 PM,11:13,MISS Evans 29' 3PT Jump Shot,None,None,None,None
14,0021800826,27,2,78,1,7:14 PM,9:47,None,None,MISS Nwaba 8' Floating Jump Shot,None,None
21,0021800826,37,2,78,1,7:18 PM,8:58,MISS Young 6' Floating Jump Shot,None,None,None,None
27,0021800826,45,2,5,1,7:20 PM,7:36,None,None,MISS Nwaba 8' Layup,None,None

In [9]:
#List unique values in the df['EVENTMSGTYPE'] column
emt_df = df.loc[df['EVENTMSGTYPE'] == 1]
print(f'EVENTMSGACTIONTYPE: {sorted(emt_df.EVENTMSGACTIONTYPE.unique())}')

EVENTMSGACTIONTYPE: [1, 2, 3, 5, 6, 7, 9, 44, 50, 52, 57, 66, 71, 72, 73, 75, 76, 79, 80, 98, 101, 108]