In [7]:
#Get the Pacers team_id
from nba_api.stats.static import teams

nba_teams = teams.get_teams()

# Select the dictionary for the Pacers, which contains their team ID
pacers = [team for team in nba_teams if team['abbreviation'] == 'IND'][0]
pacers_id = pacers['id']
print(f'pacers_id: {pacers_id}')

lakers = [team for team in nba_teams if team['abbreviation'] == 'LAL'][0]
lakers_id = lakers['id']
print(f'lakers_id: {lakers_id}')

pacers_id: 1610612754
lakers_id: 1610612747

In [8]:
# Query for the last regular season game where the Pacers were playing
from nba_api.stats.endpoints import leaguegamefinder
from nba_api.stats.library.parameters import Season
from nba_api.stats.library.parameters import SeasonType
print("here")

gamefinder = leaguegamefinder.LeagueGameFinder(team_id_nullable=lakers_id,
                            season_nullable=Season.default,
                            season_type_nullable=SeasonType.regular)  

print("here")

games_dict = gamefinder.get_normalized_dict()
games = games_dict['LeagueGameFinderResults']
game = games[0]
game_id = game['GAME_ID']
game_matchup = game['MATCHUP']

print("here")

print(f'Searching through {len(games)} game(s) for the game_id of {game_id} where {game_matchup}')

here
here
here
Searching through 67 game(s) for the game_id of 0021800848 where LAL @ ATL

In [62]:
#Get the Pacers team_id
from nba_api.stats.static import teams
nba_teams = teams.get_teams()

#Select the dictionary for the Pacers, which contains their team ID
pacers = [team for team in nba_teams if team['abbreviation'] == 'IND'][0]
pacers_id = pacers['id']

#Query for the last regular season game where the Pacers were playing
from nba_api.stats.endpoints import leaguegamefinder
from nba_api.stats.library.parameters import Season
from nba_api.stats.library.parameters import SeasonType

gamefinder = leaguegamefinder.LeagueGameFinder(team_id_nullable=lakers_id,
                            season_nullable=Season.default,
                            season_type_nullable=SeasonType.regular)  

games_dict = gamefinder.get_normalized_dict()
games = games_dict['LeagueGameFinderResults']
game = games[0]
game_id = game['GAME_ID']

In [63]:
# Query for the play by play of that most recent regular season game
from nba_api.stats.endpoints import playbyplay
df = playbyplay.PlayByPlay(game_id).get_data_frames()[0]
df.head() #just looking at the head of the data

,GAME_ID,EVENTNUM,EVENTMSGTYPE,EVENTMSGACTIONTYPE,PERIOD,WCTIMESTRING,PCTIMESTRING,HOMEDESCRIPTION,NEUTRALDESCRIPTION,VISITORDESCRIPTION,SCORE,SCOREMARGIN
0,0021800848,2,12,0,1,7:41 PM,12:00,None,None,None,None,None
1,0021800848,4,10,0,1,7:42 PM,12:00,Jump Ball Dedmon vs. McGee: Tip to Ingram,None,None,None,None
2,0021800848,7,2,98,1,7:42 PM,11:48,None,None,MISS Kuzma 1' Cutting Layup Shot,None,None
3,0021800848,8,4,0,1,7:42 PM,11:45,Young REBOUND (Off:0 Def:1),None,None,None,None
4,0021800848,9,2,101,1,7:42 PM,11:36,MISS Young 12' Driving Floating Jump Shot,None,None,None,None

In [64]:
#Since the datset is fairly large you'll see plenty of elipses(...). 
#If that's the case, you can set the following options to expand the data 
#You can adjust these as you'd like
import pandas
pandas.set_option('display.max_colwidth',250)
pandas.set_option('display.max_rows',250)

In [65]:
#List unique values in the df['EVENTMSGTYPE'] colum
print(f'EVENTMSGTYPE: {sorted(df.EVENTMSGTYPE.unique())}')

EVENTMSGTYPE: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 12, 13, 18]

In [66]:
#For quick refernce, here's an Enum for `EVENTMSGTYPE`
#This list may be incomplete as a thourogh play by play scan is necessary

from enum import Enum

class EventMsgType(Enum):
    FIELD_GOAL_MADE = 1
    FIELD_GOAL_MISSED = 2
    FREE_THROWfree_throw_attempt = 3
    REBOUND = 4
    TURNOVER = 5
    FOUL = 6
    VIOLATION = 7
    SUBSTITUTION = 8
    TIMEOUT = 9
    JUMP_BALL = 10
    EJECTION = 11
    PERIOD_BEGIN = 12
    PERIOD_END = 13

In [14]:
#pull the data for a specfic EVENTMSGTYPE
df.loc[df['EVENTMSGTYPE'] == 2].head() #hint: use the EVENTMSGTYPE values above to see different data

,GAME_ID,EVENTNUM,EVENTMSGTYPE,EVENTMSGACTIONTYPE,PERIOD,WCTIMESTRING,PCTIMESTRING,HOMEDESCRIPTION,NEUTRALDESCRIPTION,VISITORDESCRIPTION,SCORE,SCOREMARGIN
4,0021800854,13,2,71,1,7:12 PM,10:57,None,None,MISS Antetokounmpo 1' Finger Roll Layup,None,None
7,0021800854,16,2,79,1,7:13 PM,10:26,MISS Young 18' Pullup Jump Shot,None,None,None,None
9,0021800854,18,2,47,1,7:13 PM,10:11,None,None,MISS Bledsoe 4' Turnaround Jump Shot,None,None
11,0021800854,20,2,66,1,7:13 PM,9:54,MISS Turner 9' Jump Bank Shot,None,None,None,None
13,0021800854,22,2,1,1,7:14 PM,9:46,None,None,MISS Middleton 27' 3PT Jump Shot,None,None

In [15]:
#List unique values in the df['EVENTMSGTYPE'] column
emt_df = df.loc[df['EVENTMSGTYPE'] == 1]
print(f'EVENTMSGACTIONTYPE: {sorted(emt_df.EVENTMSGACTIONTYPE.unique())}')

EVENTMSGACTIONTYPE: [1, 3, 5, 6, 7, 41, 44, 47, 50, 52, 58, 66, 71, 72, 73, 75, 76, 78, 79, 80, 86, 97, 98, 99, 108]

In [16]:
#pull the data for a specfic EVENTMSGTYPE
df.loc[df['EVENTMSGTYPE'] == 8].head() #hint: use the EVENTMSGTYPE values above to see different data

,GAME_ID,EVENTNUM,EVENTMSGTYPE,EVENTMSGACTIONTYPE,PERIOD,WCTIMESTRING,PCTIMESTRING,HOMEDESCRIPTION,NEUTRALDESCRIPTION,VISITORDESCRIPTION,SCORE,SCOREMARGIN
30,0021800854,46,8,0,1,7:16 PM,7:19,None,None,SUB: Brown FOR Brogdon,None,None
49,0021800854,73,8,0,1,7:24 PM,5:12,None,None,SUB: Ilyasova FOR Bledsoe,None,None
50,0021800854,74,8,0,1,7:24 PM,5:12,None,None,SUB: G. Hill FOR Lopez,None,None
56,0021800854,84,8,0,1,7:25 PM,4:20,SUB: Sabonis FOR Turner,None,None,None,None
64,0021800854,93,8,0,1,7:29 PM,3:32,SUB: Joseph FOR Collison,None,None,None,None

In [17]:
sub = df.loc[df['EVENTMSGTYPE'] == 8]
sub.head(20)

,GAME_ID,EVENTNUM,EVENTMSGTYPE,EVENTMSGACTIONTYPE,PERIOD,WCTIMESTRING,PCTIMESTRING,HOMEDESCRIPTION,NEUTRALDESCRIPTION,VISITORDESCRIPTION,SCORE,SCOREMARGIN
30,0021800854,46,8,0,1,7:16 PM,7:19,None,None,SUB: Brown FOR Brogdon,None,None
49,0021800854,73,8,0,1,7:24 PM,5:12,None,None,SUB: Ilyasova FOR Bledsoe,None,None
50,0021800854,74,8,0,1,7:24 PM,5:12,None,None,SUB: G. Hill FOR Lopez,None,None
56,0021800854,84,8,0,1,7:25 PM,4:20,SUB: Sabonis FOR Turner,None,None,None,None
64,0021800854,93,8,0,1,7:29 PM,3:32,SUB: Joseph FOR Collison,None,None,None,None
65,0021800854,94,8,0,1,7:29 PM,3:32,SUB: Evans FOR Bogdanovic,None,None,None,None
66,0021800854,95,8,0,1,7:29 PM,3:32,None,None,SUB: Brogdon FOR Middleton,None,None
82,0021800854,119,8,0,1,7:32 PM,1:54,SUB: McDermott FOR Young,None,None,None,None
83,0021800854,120,8,0,1,7:32 PM,1:54,SUB: Turner FOR Matthews,None,None,None,None
84,0021800854,121,8,0,1,7:32 PM,1:54,None,None,SUB: Wilson FOR Antetokounmpo,None,None
110,0021800854,161,8,0,2,7:39 PM,10:59,None,None,SUB: Lopez FOR Ilyasova,None,None
124,0021800854,180,8,0,2,7:43 PM,9:32,SUB: Young FOR Turner,None,None,None,None
125,0021800854,181,8,0,2,7:43 PM,9:32,None,None,SUB: G. Hill FOR Brogdon,None,None
140,0021800854,203,8,0,2,7:48 PM,7:38,None,None,SUB: Antetokounmpo FOR Wilson,None,None
141,0021800854,204,8,0,2,7:48 PM,7:38,None,None,SUB: Middleton FOR Snell,None,None
147,0021800854,213,8,0,2,7:50 PM,6:45,SUB: Bogdanovic FOR McDermott,None,None,None,None
156,0021800854,224,8,0,2,7:51 PM,5:53,SUB: Collison FOR Joseph,None,None,None,None
157,0021800854,225,8,0,2,7:51 PM,5:53,SUB: Matthews FOR Evans,None,None,None,None
161,0021800854,231,8,0,2,7:52 PM,5:22,None,None,SUB: Snell FOR Bledsoe,None,None
194,0021800854,275,8,0,2,7:58 PM,1:26,SUB: Leaf FOR Sabonis,None,None,None,None

In [18]:
len(df.columns)

12

In [19]:
from nba_api.stats.endpoints import playbyplayv2
pbp = playbyplayv2.PlayByPlayV2(game_id)
pbp = pbp.get_data_frames()[0]
pbp.head()

,GAME_ID,EVENTNUM,EVENTMSGTYPE,EVENTMSGACTIONTYPE,PERIOD,WCTIMESTRING,PCTIMESTRING,HOMEDESCRIPTION,NEUTRALDESCRIPTION,VISITORDESCRIPTION,...,PLAYER2_TEAM_CITY,PLAYER2_TEAM_NICKNAME,PLAYER2_TEAM_ABBREVIATION,PERSON3TYPE,PLAYER3_ID,PLAYER3_NAME,PLAYER3_TEAM_ID,PLAYER3_TEAM_CITY,PLAYER3_TEAM_NICKNAME,PLAYER3_TEAM_ABBREVIATION
0,0021800854,2,12,0,1,7:11 PM,12:00,None,None,None,...,None,None,None,0,0,None,NaN,None,None,None
1,0021800854,4,10,0,1,7:11 PM,12:00,Jump Ball Turner vs. Lopez: Tip to Antetokounmpo,None,None,...,Milwaukee,Bucks,MIL,5,203507,Giannis Antetokounmpo,1.610613e+09,Milwaukee,Bucks,MIL
2,0021800854,7,5,1,1,7:11 PM,11:40,Bogdanovic STEAL (1 STL),None,Bledsoe Bad Pass Turnover (P1.T1),...,Indiana,Pacers,IND,0,0,None,NaN,None,None,None
3,0021800854,9,1,1,1,7:11 PM,11:25,Turner 27' 3PT Jump Shot (3 PTS) (Collison 1 AST),None,None,...,Indiana,Pacers,IND,0,0,None,NaN,None,None,None
4,0021800854,13,2,71,1,7:12 PM,10:57,None,None,MISS Antetokounmpo 1' Finger Roll Layup,...,None,None,None,0,0,None,NaN,None,None,None

In [20]:
print(list(pbp.columns))

['GAME_ID', 'EVENTNUM', 'EVENTMSGTYPE', 'EVENTMSGACTIONTYPE', 'PERIOD', 'WCTIMESTRING', 'PCTIMESTRING', 'HOMEDESCRIPTION', 'NEUTRALDESCRIPTION', 'VISITORDESCRIPTION', 'SCORE', 'SCOREMARGIN', 'PERSON1TYPE', 'PLAYER1_ID', 'PLAYER1_NAME', 'PLAYER1_TEAM_ID', 'PLAYER1_TEAM_CITY', 'PLAYER1_TEAM_NICKNAME', 'PLAYER1_TEAM_ABBREVIATION', 'PERSON2TYPE', 'PLAYER2_ID', 'PLAYER2_NAME', 'PLAYER2_TEAM_ID', 'PLAYER2_TEAM_CITY', 'PLAYER2_TEAM_NICKNAME', 'PLAYER2_TEAM_ABBREVIATION', 'PERSON3TYPE', 'PLAYER3_ID', 'PLAYER3_NAME', 'PLAYER3_TEAM_ID', 'PLAYER3_TEAM_CITY', 'PLAYER3_TEAM_NICKNAME', 'PLAYER3_TEAM_ABBREVIATION']

In [21]:
#Get all Laker Games
#Get all game dates
#Get all lineups for each game date by date

In [68]:
#Get this season's lakers games
#print(games)
print(type(games))
print(type(games[0]))
print(list(games[0]))
print(games[0]["GAME_DATE"])
print(len(games))

#Get all the game dates
gamedates = []
for game in games: 
    gamedates.append(game["GAME_DATE"])
print(gamedates[:5])
print(len(gamedates[:5]))

import datetime

from nba_api.stats.endpoints import teamdashlineups
from datetime import datetime, timedelta

<class 'list'>
<class 'dict'>
['SEASON_ID', 'TEAM_ID', 'TEAM_ABBREVIATION', 'TEAM_NAME', 'GAME_ID', 'GAME_DATE', 'MATCHUP', 'WL', 'MIN', 'PTS', 'FGM', 'FGA', 'FG_PCT', 'FG3M', 'FG3A', 'FG3_PCT', 'FTM', 'FTA', 'FT_PCT', 'OREB', 'DREB', 'REB', 'AST', 'STL', 'BLK', 'TOV', 'PF', 'PLUS_MINUS']
2019-02-12
67
['2019-02-12', '2019-02-10', '2019-02-07', '2019-02-05', '2019-02-02']
5

In [69]:
#Combine dataframes
df3 = pandas.DataFrame()
for date in gamedates:
    print(date)
    #tempdate = datetime.strptime(date,"%Y-%m-%d")
    #tempfrom = tempdate - timedelta(days=1)
    #tempto = tempdate + timedelta(days=1)
    #datefrom = datetime.strftime(tempfrom,"%Y-%m-%d")
    #dateto = datetime.strftime(tempto,"%Y-%m-%d")
    
    tempdf = teamdashlineups.TeamDashLineups(
        lakers_id,date_from_nullable = date, date_to_nullable = date).get_data_frames()[1]
    print(len(tempdf))
    df3 = df3.append(tempdf)
    time.sleep(5)

df3.head(20)

2019-02-12
17
2019-02-10
21

KeyboardInterrupt:

In [52]:
len(df3)

print(gamedates)

['2019-02-13', '2019-02-11', '2019-02-09', '2019-02-07', '2019-02-05', '2019-02-04', '2019-02-02', '2019-01-31', '2019-01-30', '2019-01-28', '2019-01-26', '2019-01-23', '2019-01-20', '2019-01-19', '2019-01-17', '2019-01-15', '2019-01-11', '2019-01-09', '2019-01-08', '2019-01-06', '2019-01-04', '2018-12-31', '2018-12-28', '2018-12-26', '2018-12-23', '2018-12-21', '2018-12-19', '2018-12-18', '2018-12-16', '2018-12-14', '2018-12-12', '2018-12-10', '2018-12-08', '2018-12-07', '2018-12-04', '2018-12-01', '2018-11-29', '2018-11-27', '2018-11-26', '2018-11-23', '2018-11-21', '2018-11-19', '2018-11-17', '2018-11-16', '2018-11-11', '2018-11-09', '2018-11-07', '2018-11-05', '2018-11-03', '2018-11-02', '2018-10-31', '2018-10-29', '2018-10-27', '2018-10-24', '2018-10-22', '2018-10-20', '2018-10-19', '2018-10-17', '2018-07-13', '2018-07-11', '2018-07-09', '2018-07-07', '2018-07-06']

In [61]:
#Filter lineups by date
temp = "date_from_" + str(games[0]["GAME_DATE"])
temp2 = "date_to_" + str(games[0]["GAME_DATE"])



print(temp)
#df2 = teamdashlineups.TeamDashLineups(lakers_id,temp,temp2).get_data_frames()[1]
df2 = teamdashlineups.TeamDashLineups(lakers_id,date_from_nullable = "2019-02-04", date_to_nullable = "2019-02-04").get_data_frames()[1]
print(len(df2))
df2.head(20)

date_from_2019-02-13
0

Empty DataFrame
Columns: [GROUP_SET, GROUP_ID, GROUP_NAME, GP, W, L, W_PCT, MIN, FGM, FGA, FG_PCT, FG3M, FG3A, FG3_PCT, FTM, FTA, FT_PCT, OREB, DREB, REB, AST, TOV, STL, BLK, BLKA, PF, PFD, PTS, PLUS_MINUS, GP_RANK, W_RANK, L_RANK, W_PCT_RANK, MIN_RANK, FGM_RANK, FGA_RANK, FG_PCT_RANK, FG3M_RANK, FG3A_RANK, FG3_PCT_RANK, FTM_RANK, FTA_RANK, FT_PCT_RANK, OREB_RANK, DREB_RANK, REB_RANK, AST_RANK, TOV_RANK, STL_RANK, BLK_RANK, BLKA_RANK, PF_RANK, PFD_RANK, PTS_RANK, PLUS_MINUS_RANK]
Index: []

[0 rows x 55 columns]

In [34]:
#Present the total and say this is totals
#THen look at per game
#look at the per 100 possessions - which would represent the estimated 
#Need to find how the stats are calculated

In [ ]:
#Lebron - games - scores - win/loss > Do for Kuzma too >

In [1]:
#Need to work with play by play

# Lineups

In [20]:
from nba_api.stats.endpoints import teamdashlineups

In [21]:
df2 = teamdashlineups.TeamDashLineups(lakers_id).get_data_frames()[1]
df2.head()

,GROUP_SET,GROUP_ID,GROUP_NAME,GP,W,L,W_PCT,MIN,FGM,FGA,...,REB_RANK,AST_RANK,TOV_RANK,STL_RANK,BLK_RANK,BLKA_RANK,PF_RANK,PFD_RANK,PTS_RANK,PLUS_MINUS_RANK
0,Lineups,-2544-201580-1627742-1628366-1628398-,L. James - J. McGee - B. Ingram - L. Ball - K. Kuzma,18,13,5,0.722,233.900000,216,433,...,1,1,544,1,1,544,544,1,1,339
1,Lineups,-2544-201580-1628366-1628398-1628404-,L. James - J. McGee - L. Ball - K. Kuzma - J. Hart,15,8,7,0.533,133.493333,131,258,...,2,2,543,2,2,543,543,2,2,1
2,Lineups,-201580-1627742-1628366-1628398-1628404-,J. McGee - B. Ingram - L. Ball - K. Kuzma - J. Hart,9,4,5,0.444,82.505000,71,159,...,3,3,542,3,3,534,542,6,3,544
3,Lineups,-2199-2544-1628366-1628398-1628404-,T. Chandler - L. James - L. Ball - K. Kuzma - J. Hart,13,7,6,0.538,65.525000,60,119,...,5,6,540,4,6,541,540,3,4,138
4,Lineups,-2199-2544-1627742-1628366-1628398-,T. Chandler - L. James - B. Ingram - L. Ball - K. Kuzma,15,12,3,0.800,61.270000,56,116,...,4,5,541,10,3,542,541,5,5,24

In [22]:
print(list(df2.columns))

['GROUP_SET', 'GROUP_ID', 'GROUP_NAME', 'GP', 'W', 'L', 'W_PCT', 'MIN', 'FGM', 'FGA', 'FG_PCT', 'FG3M', 'FG3A', 'FG3_PCT', 'FTM', 'FTA', 'FT_PCT', 'OREB', 'DREB', 'REB', 'AST', 'TOV', 'STL', 'BLK', 'BLKA', 'PF', 'PFD', 'PTS', 'PLUS_MINUS', 'GP_RANK', 'W_RANK', 'L_RANK', 'W_PCT_RANK', 'MIN_RANK', 'FGM_RANK', 'FGA_RANK', 'FG_PCT_RANK', 'FG3M_RANK', 'FG3A_RANK', 'FG3_PCT_RANK', 'FTM_RANK', 'FTA_RANK', 'FT_PCT_RANK', 'OREB_RANK', 'DREB_RANK', 'REB_RANK', 'AST_RANK', 'TOV_RANK', 'STL_RANK', 'BLK_RANK', 'BLKA_RANK', 'PF_RANK', 'PFD_RANK', 'PTS_RANK', 'PLUS_MINUS_RANK']

In [23]:
df2.sort_values('GP', ascending = False).head()

,GROUP_SET,GROUP_ID,GROUP_NAME,GP,W,L,W_PCT,MIN,FGM,FGA,...,REB_RANK,AST_RANK,TOV_RANK,STL_RANK,BLK_RANK,BLKA_RANK,PF_RANK,PFD_RANK,PTS_RANK,PLUS_MINUS_RANK
0,Lineups,-2544-201580-1627742-1628366-1628398-,L. James - J. McGee - B. Ingram - L. Ball - K. Kuzma,18,13,5,0.722,233.900000,216,433,...,1,1,544,1,1,544,544,1,1,339
4,Lineups,-2199-2544-1627742-1628366-1628398-,T. Chandler - L. James - B. Ingram - L. Ball - K. Kuzma,15,12,3,0.800,61.270000,56,116,...,4,5,541,10,3,542,541,5,5,24
1,Lineups,-2544-201580-1628366-1628398-1628404-,L. James - J. McGee - L. Ball - K. Kuzma - J. Hart,15,8,7,0.533,133.493333,131,258,...,2,2,543,2,2,543,543,2,2,1
3,Lineups,-2199-2544-1628366-1628398-1628404-,T. Chandler - L. James - L. Ball - K. Kuzma - J. Hart,13,7,6,0.538,65.525000,60,119,...,5,6,540,4,6,541,540,3,4,138
8,Lineups,-2199-2544-203484-1628366-1628398-,T. Chandler - L. James - K. Caldwell-Pope - L. Ball - K. Kuzma,13,7,6,0.538,38.866667,35,70,...,12,7,524,5,17,534,525,9,9,7

In [24]:
df2.sort_values('FGM', ascending = False).head()

,GROUP_SET,GROUP_ID,GROUP_NAME,GP,W,L,W_PCT,MIN,FGM,FGA,...,REB_RANK,AST_RANK,TOV_RANK,STL_RANK,BLK_RANK,BLKA_RANK,PF_RANK,PFD_RANK,PTS_RANK,PLUS_MINUS_RANK
0,Lineups,-2544-201580-1627742-1628366-1628398-,L. James - J. McGee - B. Ingram - L. Ball - K. Kuzma,18,13,5,0.722,233.900000,216,433,...,1,1,544,1,1,544,544,1,1,339
1,Lineups,-2544-201580-1628366-1628398-1628404-,L. James - J. McGee - L. Ball - K. Kuzma - J. Hart,15,8,7,0.533,133.493333,131,258,...,2,2,543,2,2,543,543,2,2,1
2,Lineups,-201580-1627742-1628366-1628398-1628404-,J. McGee - B. Ingram - L. Ball - K. Kuzma - J. Hart,9,4,5,0.444,82.505000,71,159,...,3,3,542,3,3,534,542,6,3,544
3,Lineups,-2199-2544-1628366-1628398-1628404-,T. Chandler - L. James - L. Ball - K. Kuzma - J. Hart,13,7,6,0.538,65.525000,60,119,...,5,6,540,4,6,541,540,3,4,138
4,Lineups,-2199-2544-1627742-1628366-1628398-,T. Chandler - L. James - B. Ingram - L. Ball - K. Kuzma,15,12,3,0.800,61.270000,56,116,...,4,5,541,10,3,542,541,5,5,24